.pict1 {
    position: center;
    margin-top: 10%;
    margin-left: 67%;
    padding: 0px;
}
.pict2{
    position: center;
    margin-bottom: 20%;
    margin-left: 15%;
    padding: 0px 0px;
}
.text3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10%;
    font-weight: normal;
    font-size: 187%;
    position: absolute;
    top: 10%;
    left: 12%;
    right: 30%;
}

.title{
    font-family: monospace;
}
.button-8 {
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
    margin-bottom: 89%;
    margin-left: 5%;
    color: black;
    border: 1px solid #000000;
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    float: left;
}
.button-8:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}
.button-9 {
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
    margin-top: 20%;
    margin-left: -10%;
    position: relative;
    color: black;
    border: 1px solid #000000;
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    float: left;
}
.button-9:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}
.button-10 {
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px;
    margin-top: 35%;
    margin-left: -10%;
    position: relative;
    color: black;
    border: 1px solid #000000;
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    float: left;
}
.button-10:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}

.pressed-button:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
}
.button-4 {
    text-decoration: none;
    display: inline-block;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: -20%;
    margin-left: 62%;
    position: relative;
    color: black;
    border: 1px solid #000000;
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    float: left;
}
.button-4:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    height: 100%;
}


@import url(https://fonts.googleapis.com/css?family=Montserrat);


body{
    font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 48%;
    height: 45%;
    margin-top: -31%;
    margin-left: 47%;
}
.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}
.text-copy:nth-child(1){
    stroke: #5C2B20;
    animation-delay: -2s;
}
.text-copy:nth-child(2){
    stroke: #875348;
    animation-delay: -3s;
}
.text-copy:nth-child(3){
    stroke: #E88B76;
    animation-delay: -4s;
}
.text-copy:nth-child(4){
    stroke: #CEA08B;
    animation-delay: -5s;
}
.text-copy:nth-child(5){
    stroke: #C0533C;
    animation-delay: -6s;
}
.text-copy:nth-child(6){
    stroke: #764338;
    animation-delay: -7s;
}
@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}

body{
    font-family: Arial;
}