.tab{
    margin-bottom: 2vh;
    margin-right: 10vh;
    text-align: center;
}
.button {
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 19px;
    letter-spacing: .3em;
    margin-top: 95%;
    margin-left: -102%;
    left: 53.7%;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #BC8F8F;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-1 {
    color: #232323;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 19px;
    letter-spacing: .3em;
    top: 90px;
    left: 53.7%;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button-1:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #BC8F8F;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-1:hover:before {
    transform: translate(4px, 4px);
}
.button-2 {
    color: #232323;
    top: 300px;
    left: 45%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 19px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button-2:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #BC8F8F;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-2:hover:before {
    transform: translate(4px, 4px);
}
.button-3 {
    color: #232323;
    top: 500px;
    left: 32.6%;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 19px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button-3:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #BC8F8F;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-3:hover:before {
    transform: translate(4px, 4px);
}

.button-4 {
    color: #232323;
    top: 700px;
    left: 23%;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 19px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
}
.button-4:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    background: #BC8F8F;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.button-4:hover:before {
    transform: translate(4px, 4px);
}




.text4{
    font-family: 'Montserrat', serif;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    line-height: 150%;
    top: 22%;
    left: 10%;
    right: 30%;

}
.text{
    font-family: 'Montserrat', serif;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    line-height: 150%;
    top: 12%;
    left: 25%;
    right: 10%;
    text-transform: uppercase;
}
.test{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-weight: normal;
    font-size: 29px;
    position: center;
    box-shadow: inset 12px 4px 45px rgba(227,93,93,0.5);
    padding: 10px;
}

html::before,
html::after,
body::before,
body::after {
    content: "";
    position: center;
    top: 0;
    left: 0;
    display: block;
    width: .5vmin;
    height: .5vmin;
    border-radius: 50%;
    color: transparent;
}
